.main-container-home {
    display: flex;
    resize: none;
}

.carrossel {
    display: flex;
    overflow-x: hidden;
}

.card-home {
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.card-home img {
    width: 200px;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao .bp5-button-text {
    font-size: 20px;
    font-weight: bold;
}
