.botao-estrela {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    align-self: center;
}

.botao-estrela .bp5-button {
    padding: 0;
    min-height: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;

}

.botao-estrela svg {
    vertical-align: middle;
}

